@black: #666;
@gray: #d8d4c8;
@beige: #f0ede3;

@font-face {
    font-family: 'proxima-nova';
    src: url('/fonts/ProximaNova-Light.otf');
}
@font-face {
    font-family: 'proxima-nova';
    src: url('/fonts/ProximaNova-Bold.otf');
    font-weight: bold;
}
.sans {
    font-family: 'proxima-nova', 'Verdana', "Bitstream Vera Sans", sans-serif;
}
.caps { text-transform: uppercase; }

a {
    text-decoration: none;
    border-bottom: 1px solid @gray;
    &, &:visited { color: @black; }
    &:hover { color: darken(@black, 5%); }
}

body {
    background-color: @beige;
    margin-top: 60px;
    .sans;
    overflow-x: hidden; //sometimes the vertical scroll bar works strangely with skeleton
}
body, h1, h2, p {
    color: @black;
}

.logo-container {
    margin-bottom: 35px;
    img#logo { max-width: 100%; }
    a#home { border-bottom: none; text-decoration: none; }
}

.tagline-container {
    margin-bottom: 85px;
    h1.tagline, h2.tagline {
        font-size: 24px;
        margin: 0 0.5em 0.5em 0.5em;
        line-height: 1.25em;
        letter-spacing: 0.14em;
        .caps;
        a { white-space: nowrap; }
    }
}

.centered {
    text-align: center;
}

.project {
    text-align: center;
    margin-bottom: 50px;
    img.hero, .wordmark {
        width: 70%;
        max-width: 260px;
    }
    #out-of-the-loop .wordmark {

    }
    .tagline {
        padding: 0 10%;
        font-size: 21px;
        line-height: 1.4em;
        //font-weight!
    }
}

#footer {
    text-align: center;
    a.contact { text-decoration: none; border-bottom: none; }
    font-size: 14px;
    letter-spacing: 0.15em;
    .caps;
    margin-bottom: 50px;
}

.clean-break, .no-wrap { 
    white-space: nowrap;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .clean-break { display: block; }
}
@media only screen and (max-width: 767px) {
    .tagline-container {
        h1.tagline, h2.tagline {
            font-size: 18px;
        }
    }
    .project .tagline {
        font-size: 16px;
    }
}
