<div class="row">
  <div class="sixteen colomns centered">
    <div class="logo-container">
      <a id="home" href="/"><img id="logo" src="/images/outofsomething-logo.svg" /></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="sixteen colomns centered">
    <div class="tagline-container">
      <h1 class="tagline"><span class="clean-break">Is a <a href="http://petercompernolle.com">Peter Compernolle</a> &amp;</span> <span class="clean-break"><a href="http://thisisaok.com">Laurel Hechanova</a> venture.</span></h1>
      <h2 class="tagline">Our current projects include:</h2>
    </div>
  </div>
</div>

<div class="row">
  <% projects.each do |project| %>
  <div class="eight columns alpha">
    <%= erb :project, locals: {project: project} %>
  </div>
  <% end %>
</div>

<hr />

<div class="row" id="footer">
    <p>&copy;<%= Time.now.year.to_s %> <a class="contact" href="mailto:hello@outofsomething.com"><%= settings.site_name %></a></p>
</div>
