<html>
<head>
  <title><%= settings.site_name %></title>
  <%= css :application, :media => 'screen' %>
  <%= js :app %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
